.header{
    text-align: center;
    background-color: gray;
}
.container{
    display: flex;
    justify-content: center;
}
.content{
    font-size: large;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
button{
    font-size: large;
    padding: 10px;
}
.Score{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
#output{
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}